<body>
    <header class="header" role="banner" aria-label="Header">
        <h1 class="hd hd-1 emphasized">edX CAPA Examples</h1>
        <p class="hd hd-4">A collection of semantic, accessible problem types for use in the platform</p>
    </header>

    <nav class="navigation" aria-label="Main">
        <div class="problem-types" role="group" aria-label="Problem types">
            <ul class="list-inline">
                <li class="item"><a href="{{ site.baseUrl }}/problems/checkboxes/checkboxes.html" {% if page.title == "Checkboxes" %} class="is-active" {% endif %}>Checkbox</a></li>
                <li class="item"><a href="{{ site.baseUrl }}/problems/multiplechoice/multiplechoice.html" {% if page.title == "MultipleChoice" %} class="is-active" {% endif %}>Multiple choice</a></li>
                <li class="item"><a href="{{ site.baseUrl }}/problems/dropdowns/dropdowns.html" {% if page.title == "DropDowns" %} class="is-active" {% endif %}>Dropdown</a></li>
                <li class="item"><a href="{{ site.baseUrl }}/problems/dragdrops/dragdrops.html" {% if page.title == "DragDrops" %} class="is-active" {% endif %}>Drag and drop</a></li>
                <li class="item"><a href="{{ site.baseUrl }}/problems/textinputs/textinputs.html" {% if page.title == "TextInput" %} class="is-active" {% endif %}>Text input</a></li>
                <li class="item"><a href="{{ site.baseUrl }}/problems/numericalinputs/numericalinputs.html" {% if page.title == "NumericalInput" %} class="is-active" {% endif %}>Numerical input</a></li>
            </ul>
        </div>
        {% if page.title != "Home" %}
        <div class="view-types" role="group" aria-label="View types">
            <ul class="list-inline">
                <li class="item"><a href="multiple.html" {% if page.subtitle == "Multiple" %} class="is-active" {% endif %}>Multiple problems</a></li>
                <li class="item"><a href="single.html" {% if page.subtitle == "Single" %} class="is-active" {% endif %}>Single problem</a></li>
            </ul>
        </div>
        {% endif %}
    </nav>
